*{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    font-weight: bold;
}
#photo{
    height: auto;
    width: 50vw

}
.subtitle{
    color:rgb(151 156 165 / 0.89);
    text-transform: uppercase;
}
footer p {
    text-align: right;
    font-style: italic;
}

nav > ul {
    list-style: none;
    padding-left: 0;
}

section{
    border-width: 0.2pt;
    border-style: solid;
    border-color: #cedddd;
    margin-top: 4px;
    margin-bottom: 1.2rem;
    margin-left: 2px; 
    margin-right: 2px;
    padding: 1.5% 0.8%;
}